<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta</title>
</head>
<body>
    <header>
        <h1>Preguntas:</h1>
    </header>
    <h3>¿Qué beneficios encuentras en el estilo MVC?</h3>
    <ul>
        <li>Separar los datos de la parte grafica permite cambios rapidos y es mas mantenible</li>
        <li>Permite el escalamiento de la aplicacion</li>
        <li>El codigo se vuelve mas facil de leer( disminuye la deuda tecnica)</li>
    </ul>
    <h3>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h3>
    <ul>
        <li>Separar en capas agrega complejidad al proyecto</li>
        <li>Aumenta la cantidad de archivos</li>
        <li>Es dificil aprender a usar este patron de diseño</li>
    </ul>
    <%- include('includes/base.ejs'); %>
</body>
</html>