<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Players</title>
</head>
<body>
    <header>
        <h1>Favorite Players</h1>
    </header>
    <ul>
        <li>Ma Long</li>
        <li>Hugo Calderano</li>
        <li>Koki Niwa</li>
    </ul>

    <%- include('includes/base.ejs'); %>
    
</body>
</html>