<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta</title>
</head>
<body>
    <header>
        <h1>Pregunta</h1>
    </header>
    <h3>¿Qué otros templating engines existen para node?</h3>
    <ul>
        <li>Pug</li>
        <li>Haml.js</li>
        <li>EJS</li>
        <li>hbs</li>
        <li>Squirrelly</li>
        <li>React</li>
        <li>Eta</li>
    </ul>
    <footer>
        <a href="https://expressjs.com/en/resources/template-engines.html">References</a>
    </footer>
</body>
</html>