body{
    text-align: center;
}

h1, h2{
    color: coral;
}

h4{
    color: darkgray;
    text-align: center;
}

table{
    margin: auto;
    color: darkgray;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}

main, main h4, footer{
    text-align: left;
    color: darkgray;
}